.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    & > img {
        height: 3.75rem;
    }

    & > header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 3.25rem 0;

        & button {
            background: transparent;
            border: none;
        }

        & img {
            height: 2rem;
            transition: scale 0.5s;

            &:hover {
                scale: 1.2;
            }
        }

        & span {
            font-size: 1.12rem;
            color: #9B9B9B;

            & strong {
                font-size: 1.37rem;
                color: #E8891C;
            }
        }
    }
}